<style>
        /* Reset some default styles */
        body, h1, h2, p, ul, li {
            margin: 0;
            padding: 0;
        }
                
        /* Style for the navigation bar */
        .navbar {
            background-color: #333; /* Background color for the navigation bar */
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            color: #fff; /* Link text color */
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd; /* Background color on hover */
            color: #333; /* Text color on hover */
        }

	    * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	    
/* Global Styles */
body {
	font-family: Arial, sans-serif;
}
/* Header */
header {
	background-color: white;
	color: rgb(0, 0, 0);
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px auto;
	padding: 0 20px;
}

.logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: #21D0B2;
}

.nav-links {
	list-style: none;
	display: flex;
}

.nav-links li {
	margin-right: 20px;
}

.nav-links a {
	color: rgb(0, 0, 0);
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
}

.nav-links a:hover {
	background-color: #21D0B2;
	border-radius: 4px;
	color: white;
}

/* Footer */
footer {
	background-color: #222;
	color: white;
	text-align: center;
	padding: 20px 0;
}

@media (max-width: 768px) {
	nav {
		display: block;
	}

	.logo {
		text-align: center;
	}

	.nav-links {
		margin-top: 1rem;
		justify-content: space-between;
	}

	.nav-links li {
		margin-right: 0;
	}

	.contact h1 {
		font-size: 2rem;
	}

	.contact p {
		font-size: 0.9rem;
	}

	.contact-info {
		flex-direction: column;
		text-align: center;
	}

	.contact-img {
		width: 60%;
		height: 60%;
		margin-bottom: 1rem;
	}

	.contact-info p {
		margin: 1rem 2rem;
	}

	.contact-info button {
		margin: 1rem 2rem;
		width: 10rem;
	}

	.team {
		margin: 0 1rem;
	}
	
	#initial-text{
		padding-top: 75px;
	}
}
     </style>

