@font-face {
    font-family: 'FT Polar';
    src: url('/fonts/FTPolar-Bold.woff2') format('woff2'),
        url('/fonts/FTPolar-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT Polar';
    src: url('/fonts/FTPolar-Regular.woff2') format('woff2'),
        url('/fonts/FTPolar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT Polar';
    src: url('/fonts/FTPolar-Semibold.woff2') format('woff2'),
        url('/fonts/FTPolar-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
