<style>
        /* Reset some default styles */
        body, h1, h2, p, ul, li {
            margin: 0;
            padding: 0;
        }
                
        /* Style for the navigation bar */
        .navbar {
            background-color: #333; /* Background color for the navigation bar */
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            color: #fff; /* Link text color */
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd; /* Background color on hover */
            color: #333; /* Text color on hover */
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        /* Global Styles */
        body {
            font-family: Arial, sans-serif;
        }

        /* Header */
        header {
            background-color: white;
            color: rgb(0, 0, 0);
            padding: 10px 0;
            position: fixed;
            width: 100%;
            z-index: 100;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px auto;
            padding: 0 20px;
        }

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: #21d0b2;
        }

        .nav-links {
            list-style: none;
            display: flex;
        }

        .nav-links li {
            margin-right: 20px;
        }

        .nav-links a {
            color: rgb(0, 0, 0);
            padding: 10px;
            font-weight: bold;
            text-decoration: none;
        }

        .nav-links a:hover {
            background-color: #21d0b2;
            border-radius: 4px;
            color: white;
		}
			
		#header-container {
		padding-top: 75px;
		padding-left: 25px;
        }
		
		#initial-text{
		padding-top: 75px;
		padding-right: 25px;
		float: right
		}
		
</style>