@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
    font-family: Quicksand-Regular;
    src: url('C:/Users/justi/Desktop/fonts/Quicksand-Regular.ttf');
}
@font-face {
    font-family: Fellix;
    src: url('C:/Users/justi/Desktop/fonts/Fellix-Regular.woff2');
}

:root {
    --base-color: #2F455C;
    --primary-color: #21D0B2;
    --secondary-color: #34F5C5;
    --accent-color: #1DCDFE;
}

body {
    padding: 0;
    margin: 0;
    font-weight: normal;
    overflow-x: hidden;
    font-family: "Fellix",-apple-system,BlinkMacSystemFont,avenir next,avenir,segoe ui,helvetica neue,helvetica,Cantarell,Ubuntu,roboto,noto,arial,sans-serif;
    background-color: #35353c;
}

header {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(website_design/mesh-gradient.png); */
}

/* .bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 300vh;
    z-index: -9999;
} */

.bg-img img {
    width: 100vw;
    height: 300vh;
}

.bg-img {
    margin-bottom: -4px;
}

.divider-slant {
    position: absolute;
    bottom: -100px;
    right: -50px;
    width: 120vw;
    height: 200px;
    background-color: #35353c;
    transform: rotate(-3deg);
}

.header-text-l {
    /* position: absolute;
    top: 0; 
    right: 0; */
    text-align: center;
    font-family: "Fellix";
    font-size: 6em;
    font-weight: 700;
    color: #fdfdfd;
    margin: 50px;
    margin-bottom: 5%;
    text-shadow:
    3px  3px 0 #2a374a,
   -1px -1px 0 #2a374a,  
    1px -1px 0 #2a374a,
   -1px  1px 0 #2a374a,
    1px  1px 0 #2a374a;
}
.glow-text {
    transition: all .7s ease;   

}
.glow-text:hover {
    cursor: pointer;
    text-shadow:0px 0px 3px #d0d0d0, 0px 0px 3px #d0d0d0;
}
/* .header-text .making{
    text-shadow: 
        1px -1px 1px #c2cecf,
        2px -2px 1px #c2cecf,
        3px -3px 1px #c2cecf,
        4px -4px 1px #c2cecf,
        5px -5px 1px #c2cecf,
        6px -6px 1px #c2cecf,
        7px -7px 1px #c2cecf,
        8px -8px 1px #c2cecf,
        9px -9px 1px #c2cecf,
    1px -18px 6px rgba(16,16,16,0),
    1px -22px 10px rgba(16,16,16,0),
    1px -25px 35px rgba(16,16,16,0),
    1px -30px 60px rgba(16,16,16,0);
}
.header-text .your, .header-text .possible{
    text-shadow: 
        0px -1px 1px #c2cecf,
        0px -2px 1px #c2cecf,
        0px -3px 1px #c2cecf,
        0px -4px 1px #c2cecf,
        0px -5px 1px #c2cecf,
        0px -6px 1px #c2cecf,
        0px -7px 1px #c2cecf,
        0px -8px 1px #c2cecf,
        0px -9px 1px #c2cecf,
    1px -18px 6px rgba(16,16,16,0),
    1px -22px 10px rgba(16,16,16,0),
    1px -25px 35px rgba(16,16,16,0),
    1px -30px 60px rgba(16,16,16,0);
}
.header-text .passion{
    text-shadow: 
        -1px -1px 1px #c2cecf,
        -2px -2px 1px #c2cecf,
        -3px -3px 1px #c2cecf,
        -4px -4px 1px #c2cecf,
        -5px -5px 1px #c2cecf,
        -6px -6px 1px #c2cecf,
        -7px -7px 1px #c2cecf,
        -8px -8px 1px #c2cecf,
        -9px -9px 1px #c2cecf,
    1px -18px 6px rgba(16,16,16,0),
    1px -22px 10px rgba(16,16,16,0),
    1px -25px 35px rgba(16,16,16,0),
    1px -30px 60px rgba(16,16,16,0);
} */
.header-text-container {
    width: 100vw;
    /* cursor: pointer; */
    /* height:90vw;  */
}

.header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin-top: -20px;
    background-color: rgba(0,0,0,.2);
    /* background: linear-gradient(90deg, #50c2a8 0%, #3e8181 100%); */
    font-weight: 600;
    border: 1px solid #fff;
    /* border: none; */
    border-radius: 30px;
    padding: 5px 0px 5px 0px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    /* -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; */
    transition: all .5s ease-in;
}

.header-button:hover {
    cursor: pointer;
    /* -webkit-box-shadow: 0px 53px 86px -35px rgba(0,0,0,1);
    -moz-box-shadow: 0px 53px 86px -35px rgba(0,0,0,1); */
    box-shadow: 0px 53px 86px -20px rgba(0,0,0,1);
    margin-top: -36px;
}

.header-button .header-button-text {
    width: auto;
    font-size: 2.2em;
}
.header-button .header-button-arrow {
    width: 10%;
}

.right-arrow {
    transform: scaleX(-1);
    height: 75px; 
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    transition: margin .5s ease-out;
}
.header-button:hover .right-arrow{ 
    margin-left: 10px;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.navigation-bar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.navigation-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navigation-bar ul li {
    list-style-type: none;
    text-align: center;
    padding: 0px 30px;
    font-size: 1.3em;
}
.navigation-bar ul li a {
    transition: all .5s ease-out;
    text-shadow:
    2px  2px 0 #2a374a,
   -1px -1px 0 #2a374a,  
    1px -1px 0 #2a374a,
   -1px  1px 0 #2a374a,
    1px  1px 0 #2a374a;    
    color: #fff;
}
.navigation-bar ul li a:hover {
    cursor: pointer;
    text-shadow:0px 0px 3px #d0d0d0, 0px 0px 3px #d0d0d0;
}


.logo-conainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    width: 33%;
}
.logo-conainer img {
    width: 200px;
    margin-left: 10%;
}

#change-text { 
    min-width: 120px;
    display: inline-block;
}

@keyframes soft-in-out-creations {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.flip-animation {
    /* transition: all 1s ease; */
    animation: soft-in-out-creations 2.2s infinite;
}

.main-section {
    width: 100vw;
    height: 70vh; 
}

.screen {
    position: relative;
    top: 0;
    background: #2f455c;
    border-radius: 15px;
    width: 68vw;
    margin: 0 auto;
}
.screen:hover {
    cursor: pointer;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #26374a;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 3px;
    border-radius: 9px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 4px;
    height: 4px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
}

.screen-body .bor-rad-25 {
    border-radius: 25px;
}

.screen-body-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.screen-body-left-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}

.screen-body-left-top .box-1 {
    background: rgb(79,181,160);
    background: linear-gradient(300deg, rgba(79,181,160,1) 20%, rgba(255,255,255,1) 100%);
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.screen-body-left-top .box-1 .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding-left: 10px;
}
.screen-body-left-top .box-1 .left .circle {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    background-color: transparent;
}

.screen-body-left-top .box-1 .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    width: 50%;
    height: 100%;
    padding-right: 20px;
}
.screen-body-left-top .box-1 .right .vert-rect {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 10px;
    height: 130px;
    width: 50px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    background-color: transparent;
}

.screen-body-left-top .box-2 {
    background: rgb(92,200,250);
    background: linear-gradient(174deg, rgba(92,200,250,1) 0%, rgba(255,255,255,1) 100%);    width: 40%;
    height: 80%;
}

.screen-body-left-bottom {
    align-self: center;
    width: 87%;
    height: 50%;
}
.screen-body-left-bottom .box-1 {
    background: rgb(61,104,114);
    background: linear-gradient(208deg, rgba(61,104,114,1) 0%, rgba(255,255,255,1) 100%);    width: 100%;
    height: 90%;
}
.screen-body-left-bottom .box-1 .circle {
    height: 100px; 
    width: 100px;
    border-radius: 100%;

}

.screen-body-left-top .box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-body-left-top .box-2 .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    padding-top: 8%;
    height: 35%;
    width: 90%;
}

.screen-body-left-top .box-2 .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 90%;
}

.screen-body-left-top .box-2 .top .left {
    background-color: transparent;
    height: 45%;
    width: 30%;
    -webkit-box-shadow: 0px 0px 36px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -10px rgba(0,0,0,1);
}
.screen-body-left-top .box-2 .top .right {
    background-color: transparent;
    height: 100%;
    width: 30%;
    -webkit-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
}
.screen-body-left-top .box-2 .circle {
    background-color: transparent;
    height: 85px;
    width: 85px;
    border-radius: 85px;
    -webkit-box-shadow: 0px 0px 36px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -18px rgba(0,0,0,0.75);
}

.screen-body-left-bottom .box-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.screen-body-left-bottom .box-1 .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.screen-body-left-bottom .box-1 .right .circle {
    background-color: transparent;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    -webkit-box-shadow: 0px 0px 36px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -18px rgba(0,0,0,0.75);
}

.screen-body-left-bottom .box-1 .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;  
    height: 90%;
}

.screen-body-left-bottom .box-1 .left div {
    background-color: transparent;
    height: 25px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
}

.screen-body-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.screen-body-right-center {
    background: rgb(58,79,98);
    background: linear-gradient(45deg, rgba(58,79,98,1) 0%, rgba(103,236,191,1) 100%);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.screen-body-right-center .left {
    width: 40%;
    height: 90%;
    -webkit-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -12px rgba(0,0,0,0.75);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.screen-body-right-center .left div {
    height: 25px;
    -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    margin: 0px 15px 0px 15px;
    border-radius: 20px;
}

.screen-body-right-center .right .top {
    width: 100%;
    height: 50%;
    -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    margin: 0px 15px 0px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.screen-body-right-center .right .top div:not(:nth-child(1)) {
    height: 25px;
    -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    margin: 0px 15px 0px 15px;
    border-radius: 20px;
}
.screen-body-right-center .right .top div:nth-child(1) {
    height: 80px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    margin: 0px 15px 0px 15px;
    align-self: center;
}


.screen-body-right-center .right .bottom {
    width: 100%;
    height: 40%;
    -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    margin: 0px 15px 0px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.screen-body-right-center .right .bottom div {
    height: 25px;
    -webkit-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -6px rgba(0,0,0,0.75);
    margin: 0px 15px 0px 15px;
    border-radius: 20px;
}

.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
}

.screen-body-right-center .right {
    width: 40%;
    height: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.solutions-section {
    margin-top: 50px;
    width: 100vw;
    height: auto;

}

.solution-section-main-text {

}

.solution-section-main-text h2 {
    color: #6af5c3;
    font-size: 3.3em;
    margin: 0;
    padding: 0;
}

.green-period {
    color: #6af5c3;
}

.solution-section-main-text h1 {
    color: #c7c7c7;
    font-size: 4.5em;
    margin: 0;
    padding: 0;
}

.solutions-tailered-for-you {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;

}

.solutions-tailered-for-you p {
    color: #c7c7c7;
    font-size: 1.2em;
}

.solutions-tailered-for-you .bullet{
    background-color: #6af5c3;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    flex-shrink: 0;
    -webkit-box-shadow: 3px 3px 10px -4px rgba(199,199,199,1);
    -moz-box-shadow: 3px 3px 10px -4px rgba(199,199,199,1);
    box-shadow: 3px 3px 10px -4px rgba(199,199,199,1);
}

.solutions-points {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 100%;
}
.solutions-points .point {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.solutions-points .point .bullet {
    margin-right: 20px;
}

.underline {
    text-decoration: underline;
}

.web-design-section {
    margin: 0 auto;
    width: 650px;
    height: 800px;
    background-color: rgba(40, 83, 107, .7);
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.web-design-section div {
    height: 40%;
    width: 120%; 
}

.web-design-section h1 {
    font-size: 6.3em;
    color: #fff;
}
.web-design-section h2 {
    font-size: 1.8em;
    color: #fff;
}
.web-design-section button {
    width: 100%;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 2em;
    color: #fff;
    border-radius: 100px;
    padding: 35px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 11px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 11px 1px rgba(255,255,255,1);
}

.web-design-section button:hover {
    cursor: pointer;

}

@keyframes pulse-l1 {
    0%, 40%, 100% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
}
@keyframes pulse-l2 {
    0%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
@keyframes pulse-l3 {
    0%, 100% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
}

.pulsating, .pulsating-2  {
    transition: 1s ease;
}
.pulsating:hover {
    transform: scale(1.1);
}
.pulsating-2:hover {
    transform: scale(1.05);
}


.sticky-parent {
    height: 200vh;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.scroll-section {
    height: 100vh;
    width: 200vw; 
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-section img {
    width: 400px;
    height: 80%;
    object-fit: cover;
    object-position: center;
}

.scroll-section .scroll-section-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw; 
    height: 100vh;
    background-color: #35353c;
}



.gradient-flow-wrapper {
    position: absolute;
    top: 0;
    inset: 0;
    overflow: hidden;
    z-index: -11;
}

.gradient-flow {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    /* background-color: #355566; */
    background-image: url("C:/Users/justi/Desktop/Outsemble/outsemble_site/website_design/mesh-gradient-flipped.png");
    background-size: cover;
    z-index: -10;
}

.gradient-top-layer {
    display: flex;
    flex-direction: row;
}
.gradient-bottom-layer {
    display: flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.gradient-1 {
    width: 25vw;
    height: 50vh;
    border-radius: 100px;
    position: absolute;
    animation: gradient-flow-one 20s infinite;
    /* transition: all 2s ease; */
    background-color: #355566;
    z-index: 3;
}

.gradient-2 {
    width: 50vw;
    height: 50vh;
    border-radius: 100px;
    position: absolute;
    /* transition: all 2s ease; */
    animation: gradient-flow-two 23s infinite;
    background-color: #5bccfe;
    z-index: 4;
} 

.gradient-3 {
    width: 50vw;
    height: 75vh;
    border-radius: 100px;
    position: absolute;
    animation: gradient-flow-three 30s infinite;
    /* transition: all 2s ease; */
    background-color: #3e7f80;
    z-index: 3;
}

.gradient-4 {
    width: 45vw;
    height: 60vh;
    border-radius: 100px;
    position: absolute;
    animation: gradient-flow-four 15s infinite;
    background-color: #68f6c4;
    z-index: 4;
}


@keyframes gradient-flow-one {
    0% {left: 0px; top:0px;scale: 1;}
    25% {left: -100px; top:100px;scale:.8;}
    50% {left: 250px; top:150px;scale:1.2;}
    75% {left: 550px; top:100px;scale:1.3;}
    75% {left: 1050px; top:100px;scale:1.3;}
    100% {left: 0px; top:0px;scale:1;}
}

@keyframes gradient-flow-two {
    0% {right: 0px; top:0px;scale: 1;}
    5% {right: 100px; top:-100px;scale:.8;}
    50% {right: 200px; top:150px;scale:1.2;}
    75% {right: 550px; top:100px;scale:1.3;}
    100% {right: 0px; top:0px;scale:1;}
}

@keyframes gradient-flow-three {
    0% {left: 0%; top:100%;scale: 1.2;}
    25% {left: 50%; top:80%;scale:.7;}
    50% {left: 30%; top:15%;scale:.8;}
    75% {left: 75%; top:70%;scale:1.5;}
    100% {left: 0%; top:100%;scale:1.2;}
}

@keyframes gradient-flow-four {
    0% {left: 100%; top:100%;scale: 1;}
    25% {left: 70%; top:70%;scale:.7;}
    50% {left: 60%; top:60%;scale:1.5;}
    75% {left: 95%; top:80%;scale:1.2;}
    100% {left: 100%; top:100%;scale:1;}
}

.opacity-50 {
    opacity: 1;
}

.bg-blur {
    filter: blur(70px);
}


#header-wrapper .ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .05);
    position: absolute;
    transform: scale(0);
    animation: ripple 2s linear;
}

@keyframes ripple{
    to{
        transform: scale(.5);
        opacity: 0;
    }
}



/* .circle-hover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--base-color);
    position: absolute;
    pointer-events: none;
    display: none; 
    z-index: 10;
}
.hover-target { 
    cursor: none;

}
.hidden-text {
    background: inherit; 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    z-index: 11;
} */